body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(45deg, #FF66B3, #66FF99);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blog_name {
  text-align: center;
  background-color: #5fdf94; /* Light green background */
  padding: 20px;
}

.blog_name h1 {
  color: #eb83e2; /* Green text */
}

main {
  background: #f0f0f0; /* Light green background */
  animation: background-color-change 10s infinite alternate ease-in-out;
}

@keyframes background-color-change {
  from { background-color: #f0f0f0; }
  to { background-color: #ffc0cb; } /* Light pink background */
}

.post {
  margin: 20px;
  border: 1px solid #ddd;
  padding: 15px;
}

.post h2 {
  margin-top: 0; /* Remove default top margin */
}

.buttons {
  display: flex; /* Organize buttons horizontally */
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 10px;
}

.delete-button {
  background-color: #FFC0CB; /* Light pink background */
  color: #990000; /* Dark red text */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #F08080; /* Pink on hover */
}

.add-link {
  display: inline-block;
  margin: 20px 0 0 20px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffc0cb; /* Light pink background */
  color: #990000; /* Dark red text */
  text-decoration: none;
  font-weight: bold;
}

.add-link:hover {
  background-color: #F08080; /* Pink on hover */
}
