body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 15px;
    background: linear-gradient(45deg, #FF66B3, #66FF99);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    flex-direction: column;
    padding-top: 80px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
    text-align: center;
    color: #ff66b3; /* pink color */
}

.blog_name {
  background-color: #66FF99; /* green color */
  padding: 50px;
  margin: 50px;
  width: 100%; /* Set width to 100% */
  text-align: center; /* Center the text */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
  z-index: 1000; /* Ensure it's at the forefront */
}

.post {
    background-color: #a4ff72; /* green color */
    padding: 20px;
    margin: 20px 0;
    width: 600px;
    height: auto;
}

h2 {
    color: #ff66b3; /* pink color */
}

p {
    color: #009933; /* green color */
}

em {
    color: #ff99cc; /* pink color */
}

a.add-link {
  color: #ff66b3; /* Set the link color to pink */
  text-decoration: none; /* Remove the underline */
  font-weight: bold; /* Make the text bold */
  font-size: 34px;
  background-color: #a4ff72;
  
}

a.add-link:hover {
  color: #009933; /* Set the link color to green on hover */
  text-decoration: underline; /* Add underline on hover */
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  flex-direction: row;
}

.delete-button {
  background-color: #ff1493; /* Pink color for the button */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* Remove the border */
  cursor: pointer; /* Show pointer cursor on hover */
  margin-top: 10px; /* Add margin to separate the button from the post content */
}

/* Additional style for the form */
.delete-form {
  display: flex; /* Display the form as a flex container */
  flex-direction: column; /* Place form items in a column */
  align-items:flex-start; /* Center form items horizontally */
}
