body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #FF66B3, #66FF99);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    flex-direction: column;
    padding-top: 80px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
    text-align: center;
    color: #ff66b3; /* pink color */
}

.blog_name {
  position: fixed; /* Fix the position of the blog name */
  top: 0; /* Position at the top of the page */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontally to center */
  background-color: #66FF99; /* green color */
  padding: 20px;
  margin: 20px;
  width: 100%; /* Set width to 100% */
  text-align: center; /* Center the text */
}

.post {
    background-color: #a4ff72; /* green color */
    padding: 20px;
    margin: 20px 0;
    width: 600px;
    height: auto;
}

h2 {
    color: #ff66b3; /* pink color */
}

p {
    color: #009933; /* green color */
}

em {
    color: #ff99cc; /* pink color */
}

a.add-link {
  color: #ff66b3; /* Set the link color to pink */
  text-decoration: none; /* Remove the underline */
  font-weight: bold; /* Make the text bold */
  background-color: #a4ff72;
  
}

a.add-link:hover {
  color: #009933; /* Set the link color to green on hover */
  text-decoration: underline; /* Add underline on hover */
}